GOOGLE_SERVICE_ACCOUNT_EMAIL=salahly-sheets@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your_google_sheet_id
SESSION_SECRET=generate_a_long_random_value
